.flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.buttons {
  margin: 8px;
}

.spacer {
  flex: 1 1 auto;
}

mat-tree {
  margin-right: 16px;
}

.tree-invisible {
  display: none;
}

.tree {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;

  .mat-nested-tree-node div[role=group] {
    padding-left: 36px;
  }
}

.notes, .note-view {
  flex-grow: 1;
}

.notes-views > mat-card:first-child {
  margin-right: 1px;
}

.editor-container {
  flex-basis: 100%;
}

.editor {
  padding: 16px;
  font-size: 1.4rem;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  overflow: auto;
  display: block;
  margin: 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.render-container {
  flex-basis: 100%;
}

.render {
  padding: 0 16px 0 16px;
}
