<mat-card appearance="outlined" class="form-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form novalidate [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" placeholder="Enter your email" matInput formControlName="email" [errorStateMatcher]="emailMatcher">
        @if (loginForm.controls.email.hasError("required")) {
          <mat-error>Email is required</mat-error>
        }
        @else if (loginForm.controls.email.hasError("email")) {
          <mat-error>Please enter a valid email address</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="{{ showPassword ? 'text' : 'password' }}" placeholder="Enter your password" matInput formControlName="password" [errorStateMatcher]="passwordMatcher">
        <button type="button" mat-icon-button matSuffix (click)="showPassword = !showPassword">
          <mat-icon>{{ showPassword ? "visibility" : "visibility_off" }}</mat-icon>
        </button>
        @if (loginForm.controls.password.hasError("required")) {
          <mat-error>Password is required</mat-error>
        }
      </mat-form-field>
      <button class="forgot-password-button" mat-button [disabled]="!loginForm.controls.email.valid" (click)="resetPassword()">
        Forgot password
      </button>
      <button mat-flat-button [disabled]="!loginForm.valid">Login</button>
    </form>
  </mat-card-content>
</mat-card>
