#search {
  flex-grow: 1;
}

#table-actions {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  padding: 0.5em
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;

  > *:not(:last-child) {
    margin-right: 0.5em;
  }
}

@media (max-width: 750px) {
  #search-refinement {
    align-items: flex-start;
  }

  .row {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;

    > mat-form-field {
      width: 100%;
      margin-right: 0;
    }

    > *:not(:last-child) {
      margin-bottom: 0.5em;
    }
  }

  .row:not(:last-child) {
    margin-bottom: 0.5em;
  }
}

.table-container {
  min-width: 270px;
  overflow-x: auto;
  overflow-y: hidden;
}
