/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

$theme: mat.define-theme();

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
  font-size: 3.5rem;
  font-weight: normal;
}

mat-card.form-card {
  margin: 0 auto;
  max-width: 500px;

  mat-card-header {
    margin-bottom: 1rem;
  }

  mat-card-content {
    form {
      display: flex;
      flex-direction: column;

      mat-form-field {
        margin-bottom: 0.5em;
      }

      button {
        width: 100%;
      }
    }
  }
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--mat-app-text-color) !important;
  caret-color: var(--mat-app-text-color) !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

.mdc-text-field--filled:has(input:-webkit-autofill) {
  background-color: mat.get-theme-color($theme, secondary, 25);
}
