<mat-card appearance="outlined" class="form-card">
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form novalidate [formGroup]="registerForm" (ngSubmit)="register()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" id="username" autocomplete="username" placeholder="Enter your email" matInput formControlName="email" [errorStateMatcher]="emailMatcher">
        @if (registerForm.controls.email.hasError("required")) {
          <mat-error>Email is required</mat-error>
        }
        @else if (registerForm.controls.email.hasError("email")) {
          <mat-error>Please enter a valid email address</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="{{ showPassword ? 'text' : 'password' }}" id="new-password" autocomplete="new-password" placeholder="Enter your password" matInput formControlName="password" [errorStateMatcher]="passwordMatcher">
        <button type="button" mat-icon-button matSuffix (click)="showPassword = !showPassword">
          <mat-icon matTooltip="Show password">{{ showPassword ? "visibility" : "visibility_off" }}</mat-icon>
        </button>
        @if (registerForm.controls.password.hasError("required")) {
          <mat-error>Password is required</mat-error>
        } @else if (registerForm.controls.password.hasError("length")) {
          <mat-error>Password must be between {{ environment.passwordMinLength }} and {{ environment.passwordMaxLength }} characters</mat-error>
        }
      </mat-form-field>
      <button mat-flat-button [disabled]="!registerForm.valid">Register</button>
    </form>
  </mat-card-content>
</mat-card>
