.container {
  flex-basis: 100%;
}

.editor {
  padding: 1em;
  font-size: 1.4rem;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  overflow: auto;
  display: block;
  margin: 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.render {
  padding: 0 1em 0 1em;
}

.split-view:first-child {
  margin-right: 0.25em;
}

.split-view:nth-child(2) {
  margin-left: 0.25em;
}
