mat-tree {
  margin-right: 16px;
}

.tree-invisible {
  display: none;
}

.tree {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;

  .mat-nested-tree-node div[role=group] {
    padding-left: 36px;
  }
}
